<div>
    <form [formGroup]="form"
          novalidate
          autocomplete="off"
          (ngSubmit)="updateProfile()">

        <div class="profile-header">
            <h2 mat-dialog-title>{{ 'DIALOG.PROFILE.HEADER' | translate }}</h2>
            <button matTooltip="{{ 'TOOLTIP.LANGUAGE_CHANGE' | translate }}"
                    matTooltipClass="manage-tooltip"
                    class="lang-button"
                    type="button"
                    (click)="openBottomSheet()" mat-mini-fab
                    color="primary">
                <mat-icon class="material-icons-round">translate</mat-icon>
            </button>
        </div>
        <div class="confirm-label">
            <span [class.red-confirm-label]="!profile.confirmed">{{ getConfirmedLabel() }}</span>
        </div>

        <mat-dialog-content class="mat-typography">
            <div class="spinner" *ngIf="!isLoading">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="isLoading" class="profile-container">
                <div class="username-container">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.PROFILE.USERNAME' | translate }}</mat-label>
                        <input [formControlName]="'username'" matInput>
                        <mat-error class="error" *ngIf="displayValidationText('username') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('username') === 'username'">
                            {{ 'DIALOG.PROFILE.USERNAME_ERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="email-container">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input [formControlName]="'email'" matInput>
                        <mat-error class="error" *ngIf="displayValidationText('email') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('email') === 'email'">
                            {{ 'ERROR.EMAIL' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="password-field-container">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.PROFILE.NEW_PASSWORD' | translate }}</mat-label>
                        <input [formControlName]="'newPassword'"
                               matInput
                               [type]="passwordHide ? 'password' : 'text'">
                        <button mat-icon-button
                                matSuffix
                                type="button"
                                (click)="passwordHide = !passwordHide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="error" *ngIf="displayValidationText('newPassword') === 'password'">
                            {{ 'ERROR.PASSWORD' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="password-field-container">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.PROFILE.CURRENT_PASSWORD' | translate }}</mat-label>
                        <input [formControlName]="'currentPassword'"
                               matInput
                               [type]="passwordHide ? 'password' : 'text'">
                        <button mat-icon-button
                                matSuffix
                                type="button"
                                (click)="passwordHide = !passwordHide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="error" *ngIf="displayValidationText('currentPassword') === 'required'">
                            {{ 'DIALOG.PROFILE.CURRENT_PASSWORD_ERROR' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('currentPassword') === 'password'">
                            {{ 'ERROR.PASSWORD' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <mat-dialog-actions>
                <button mat-raised-button color="warn" [disabled]="!isLoading"
                        type="submit">
                    {{ 'BUTTON.UPDATE' | translate }}
                </button>
                <button mat-raised-button color="primary" type="button"
                        [mat-dialog-close]="true">{{ 'BUTTON.CANCEL' | translate }}</button>
                <button class="right-button"
                        (click)="openDeleteProfileDialog()"
                        type="button"
                        color="accent"
                        matTooltip="{{ 'TOOLTIP.DELETE_ACCOUNT' | translate }}"
                        matTooltipClass="manage-tooltip"
                        mat-icon-button>
                    <mat-icon class="material-icons-round">delete_forever</mat-icon>
                </button>
            </mat-dialog-actions>

        </mat-dialog-content>
    </form>

</div>

