mat-dialog-content {
    overflow: unset;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 385px;

    mat-form-field {
        padding-bottom: 0;
    }

    .username-container {
        display: flex;
        flex-direction: column;
    }

    .email-container {
        display: flex;
        flex-direction: column;
    }

    .password-field-container {
        display: flex;
        flex-direction: column;
    }

}

mat-divider {
    border-top-color: white;
}

.lang-button {
    margin-left: auto;
    background-color: steelblue;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.confirm-label {
    margin-bottom: 20px;

    span {
        color: green;
    }

    .red-confirm-label {
        color: red !important;
    }
}

.spinner {
    height: 286px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: sub;
    align-items: center;
}

.right-button {
    margin-left: auto !important;
}
