@import "src/styles/main";

.password-field-container {
    mat-form-field {
        width: 300px;
    }

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-dialog-content {
    overflow: unset !important;
}
