<div class="app-dialog">
    <h2 mat-dialog-title>{{ 'DIALOG.PROFILE_DELETE.HEADER.MAIN' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>{{ 'DIALOG.PROFILE_DELETE.HEADER.COMMON' | translate }}</h3>
        <p class="dialog-text">{{ 'DIALOG.PROFILE_DELETE.TEXT' | translate }}</p>

        <form [formGroup]="form"
              novalidate
              autocomplete="off"
              (ngSubmit)="deleteProfile()">
            <div class="password-field-container">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <mat-form-field *ngIf="!isLoading" color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.PROFILE.CURRENT_PASSWORD' | translate }}</mat-label>
                    <input [formControlName]="'password'"
                           matInput
                           [type]="passwordHide ? 'password' : 'text'">
                    <button mat-icon-button
                            matSuffix
                            type="button"
                            (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="passwordHide">
                        <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="error" *ngIf="displayValidationText('password') === 'required'">
                        {{ 'ERROR.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error class="error" *ngIf="displayValidationText('password') === 'password'">
                        {{ 'ERROR.PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-error  class="error" *ngIf="deleteError && !isLoading">
                    {{ 'ERROR.PASSWORD_MATCH_DELETE_ACCOUNT' | translate }}
                </mat-error>
            </div>
            <mat-dialog-actions>
                <button [disabled]="isLoading"
                    mat-raised-button color="warn"
                    type="submit">
                    {{ 'BUTTON.DELETE' | translate }}
                </button>
                <button mat-raised-button
                        color="primary"
                        type="button"
                        mat-dialog-close>
                    {{ 'BUTTON.CANCEL' | translate }}
                </button>
            </mat-dialog-actions>
        </form>

    </mat-dialog-content>
</div>
