<div class="app-dialog">
    <h2 mat-dialog-title>{{ 'DIALOG.PROFILE_UPDATE.HEADER.MAIN' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>{{ 'DIALOG.PROFILE_UPDATE.HEADER.COMMON' | translate }}</h3>
        <p>{{ 'DIALOG.PROFILE_UPDATE.TEXT' | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</div>
