<div class="login-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>SAPL</mat-card-title>
            <mat-card-subtitle>Shortened and protected links</mat-card-subtitle>
            <button matTooltip="{{ 'TOOLTIP.LANGUAGE_CHANGE' | translate }}"
                    class="lang-button"
                    (click)="openBottomSheet()" mat-mini-fab
                    color="primary">
                <mat-icon class="material-icons-round">translate</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="isLoading" class="spinner">
                <mat-spinner></mat-spinner>
            </div>
            <form autocomplete="off"
                  *ngIf="!isLoading"
                  [formGroup]="form" novalidate
                  (ngSubmit)="!isRegistration ? login() : registration()">
                <div *ngIf="isPasswordRecovery" class="recovery-password-text">
                    <p>{{ 'TEXT_INFO.PASSWORD_RECOVERY' | translate }}</p>
                </div>
                <div *ngIf="!isRegistration && !isPasswordRecovery" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'FIELD.LOGIN.TITLE' | translate }}</mat-label>
                        <input matInput
                               placeholder="{{ 'FIELD.LOGIN.PLACEHOLDER' | translate }}"
                               [formControlName]="'usernameOrEmail'">
                        <mat-error class="error" *ngIf="displayValidationText('usernameOrEmail') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="isRegistration" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'FIELD.USERNAME.TITLE' | translate }}</mat-label>
                        <input matInput
                               placeholder="{{ 'FIELD.USERNAME.PLACEHOLDER' | translate }}"
                               [formControlName]="'username'">
                        <mat-error class="error" *ngIf="displayValidationText('username') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('username') === 'username'">
                            {{ 'ERROR.LOGIN' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="isRegistration || isPasswordRecovery" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'FIELD.EMAIL.TITLE' | translate }}</mat-label>
                        <input matInput
                               placeholder="{{ 'FIELD.EMAIL.PLACEHOLDER' | translate }}"
                               [formControlName]="'email'">
                        <mat-error class="error" *ngIf="displayValidationText('email') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('email') === 'email'">
                            {{ 'ERROR.EMAIL' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="!isPasswordRecovery" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'FIELD.PASSWORD.TITLE' | translate }}</mat-label>
                        <input matInput
                               [type]="passwordHide ? 'password' : 'text'"
                               autocomplete="new-password"
                               [formControlName]="'password'">
                        <button type="button"
                                mat-icon-button
                                matSuffix (click)="passwordHide = !passwordHide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="error" *ngIf="displayValidationText('password') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('password') === 'password'">
                            {{ 'ERROR.PASSWORD' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('password') === 'notEquivalent'">
                            {{ 'ERROR.PASSWORDS_MATCH' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="isRegistration" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'FIELD.REPEAT_PASSWORD.TITLE' | translate }}</mat-label>
                        <input matInput
                               [type]="passwordHide ? 'password' : 'text'"
                               autocomplete="new-password"
                               [formControlName]="'repeatPassword'">
                        <button type="button"
                                mat-icon-button
                                matSuffix (click)="passwordHide = !passwordHide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="error" *ngIf="displayValidationText('repeatPassword') === 'required'">
                            {{ 'ERROR.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('repeatPassword') === 'password'">
                            {{ 'ERROR.PASSWORD' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('repeatPassword') === 'notEquivalent'">
                            {{ 'ERROR.PASSWORDS_MATCH' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group buttons">
                    <button color="accent" mat-flat-button
                            type="button"
                            *ngIf="!isRegistration && !isPasswordRecovery"
                            (click)="toRegistration()">
                        {{ 'BUTTON.REGISTRATION' | translate }}
                    </button>
                    <button color="primary" mat-flat-button
                            type="button"
                            *ngIf="isRegistration || isPasswordRecovery"
                            (click)="returnToLogin()">
                        {{ 'BUTTON.RETURN_TO_LOGIN' | translate }}
                    </button>
                    <button color="warn" mat-flat-button
                            class="right-button"
                            type="submit"
                            *ngIf="!isRegistration && !isPasswordRecovery">
                        {{ 'BUTTON.LOGIN' | translate }}
                    </button>
                    <button color="warn" mat-flat-button
                            class="right-button"
                            type="submit"
                            *ngIf="isRegistration">
                        {{ 'BUTTON.REGISTER' | translate }}
                    </button>
                    <button color="warn" (click)="passwordRecovery()"
                            mat-flat-button
                            class="right-button"
                            type="submit"
                            *ngIf="isPasswordRecovery">
                        {{ 'BUTTON.SEND' | translate }}
                    </button>
                </div>
                <div *ngIf="!isPasswordRecovery" class="forgot-password">
                    <a *ngIf="!isRegistration" (click)="forgotPassword()">
                        {{ 'BUTTON.FORGOT_PASSWORD' | translate }}
                    </a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

