@import "src/styles/main";

.login-card {
    background-color:  rgba(1, 15, 36, 0.68);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    mat-card {
        min-width: 350px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .lang-button {
            margin-left: auto;
            background-color: steelblue;
        }

        .recovery-password-text {
            max-width: 350px;

            p {
                text-align: center;
            }
        }

        mat-card-content {
            .spinner {
                display: flex;
                justify-content: center;
                flex-direction: row;
                vertical-align: sub;
                align-items: center;
            }

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .form-group.buttons {
        float: right;

        .right-button {
            margin-left: 3px;
        }
    }

    .forgot-password {
        height: 37px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            cursor: pointer;
            transition: 1s;

            &:hover {
                color: #c5c5ca;
            }
        }
    }
}

