<div class="app-dialog">
    <h2 mat-dialog-title>{{ 'DIALOG.URL_DELETE.HEADER.MAIN' | translate }}</h2>
    <mat-dialog-content class="mat-typography">

        <div *ngIf="mode === 'single'">
            <h3>{{ 'DIALOG.URL_DELETE.HEADER.COMMON' | translate }}
                <a href="{{ config.serverRoot }}/{{ data.url.shortUrlId }}" target="_blank">
                    {{ config.serverRoot }}/{{ data.url.shortUrlId }}
                </a>
            </h3>
            <p>{{ 'DIALOG.URL_DELETE.TEXT' | translate }}</p>
        </div>

        <div *ngIf="mode === 'all'">
            <h3>{{ 'DIALOG.URL_DELETE.HEADER.COMMON_ALL' | translate }}</h3>
            <p>{{ 'DIALOG.URL_DELETE.TEXT_ALL' | translate }}</p>
        </div>

        <div *ngIf="mode === 'expired'">
            <h3>{{ 'DIALOG.URL_DELETE.HEADER.COMMON_EXPIRED' | translate }}</h3>
            <p>{{ 'DIALOG.URL_DELETE.TEXT_EXPIRED' | translate }}</p>
        </div>

        <div *ngIf="mode === 'blockDisposable'">
            <h3>{{ 'DIALOG.URL_DELETE.HEADER.COMMON_BLOCK_DISPOSABLE' | translate }}</h3>
            <p>{{ 'DIALOG.URL_DELETE.TEXT_BLOCK_DISPOSABLE' | translate }}</p>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="warn"
                (click)="delete()">{{ 'BUTTON.DELETE' | translate }}</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">{{ 'BUTTON.CANCEL' | translate }}</button>
    </mat-dialog-actions>
</div>
