﻿@page "{encryptAccountId}"
@model ShortenerURL.Web.Api.Pages.ConfirmationModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Email Confirmation";
}

<div class="flex_center">
    @if (Model.AccountDoesNotExist)
    {
        <span class="no_redirect en">Unable to verify Email. Account does not exist</span>
        <span class="no_redirect ru">(Невозможно подтвердить Email. Аккаунта не существует)</span>
    }
    else if (Model.AccountAlreadyConfirm)
    {
        <span class="no_redirect en green-font">The address <span class="black-bold-font">@Model.Email</span> already confirmed</span>
        <span class="no_redirect ru green-font ">(Адрес <span class="black-bold-font">@Model.Email</span> уже подтвержден)</span>
    }
    else
    {
        <span class="no_redirect en green-font">The address <span class="black-bold-font">@Model.Email</span> has been successfully confirmed</span>
        <span class="no_redirect ru green-font ">(Адрес <span class="black-bold-font">@Model.Email</span> успешно подтвержден)</span>
    }
</div>