﻿@page "{id}"
@model ShortenerURL.Web.Api.Pages.RedirectModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Redirect Page";

    var pageLabels = new Dictionary<string, string>
    {
        {"PasswordTextRu", "Чтобы перейти по ссылке необходимо ввести пароль"},
        {"PasswordTextEn", "To follow the link, you must enter a password "},
        {"SecretTextRu", "Введите ответ на секретный вопрос:"},
        {"SecretTextEn", "Enter the answer to your security question:"},
        {"InvalidPasswordRu", "Неверный пароль! Повторите ввод"},
        {"InvalidPasswordEn", "Invalid password! Re-enter"},
        {"InvalidSecretRu", "Неверный ответ на секретный вопрос! Повторите ввод"},
        {"InvalidSecretEn", "Invalid secret question answer! Re-enter"},
        {"SubmitButtonLabelRu", "Перейти"},
        {"SubmitButtonLabelEn", "Follow"},
        {"PlaceholderPassRu", "Введите пароль"},
        {"PlaceholderPassEn", "Input password"},
        {"PlaceholderSecRu", "Введите ответ"},
        {"PlaceholderSecEn", "Input answer"}
    };
}

<script>
    function changeLocalization(lang) {    
        let currentLang = getCookie("PageLang");
        
        if (currentLang !== lang) {
            document.cookie = `PageLang=${lang}; path=/Redirect;`;
            window.location.reload();
        }
    }
    
    function getCookie(name) { 
       let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
       if (match) return match[2];
    }
</script>

@if (!Model.IsExpired)
{
    @if (Model.IsPassword == true || Model.IsSecretQuestion == true)
    {
        <div class="lang_choice flex_center">
            <span class="en">Localization <span class="ru">(Локализация)</span>:</span>
            <div class="lang_buttons">
                <button onclick="changeLocalization('En')" type="button" name="en_lang_button" class="lang_button en">English</button>
                <button onclick="changeLocalization('Ru')" type="button" name="ru_lang_button" class="lang_button ru">Русский</button>
            </div>
        </div>
    }
    @if (Model.IsInvalidPassword)
    {
        <h3 class="error_msg">@pageLabels[$"InvalidPassword{Model.Localization}"]</h3>
    }
    @if (Model.IsInvalidSecretQuestion)
    {
        <h3 class="error_msg">@pageLabels[$"InvalidSecret{Model.Localization}"]</h3>
    }
    @if (Model.IsPassword == true)
    {
        <h3 class="form_header">@pageLabels[$"PasswordText{Model.Localization}"]</h3>
        <form id="password_form" method="post" autocomplete="off">
            <input type="hidden" name="id" value="@Model.Id">
            <input id="pas" class="security" type="password" name="passwordOrSecret" required autocomplete="new-password"/>
            <label for="pas" class="for_security"><span class="for_security">@pageLabels[$"PlaceholderPass{Model.Localization}"]</span></label>
        </form>
        <button class="submit_button" form="password_form" type="submit">@pageLabels[$"SubmitButtonLabel{Model.Localization}"]</button>
    }
    @if (Model.IsSecretQuestion == true)
    {
        <h3 class="form_header">@pageLabels[$"SecretText{Model.Localization}"] "@Model.SecretQuestionText"</h3>
        <form id="secret_form" method="post" autocomplete="off">
            <input type="hidden" name="id" value="@Model.Id">
            <input id="sec" class="security" name="passwordOrSecret" required autocomplete="off"/>
            <label for="sec" class="for_security"><span class="for_security">@pageLabels[$"PlaceholderSec{Model.Localization}"]</span></label>
        </form>
        <button class="submit_button" form="secret_form" type="submit">@pageLabels[$"SubmitButtonLabel{Model.Localization}"]</button>
    }
}
else
{
    <span class="no_redirect">Link expired</span>
    <span class="no_redirect ru">(Ссылка истекла)</span>
}
@if (Model.IsCorrect == false)
{
    <span class="no_redirect">Not existing URL</span>
    <span class="no_redirect ru">(URL не существует)</span>
}