﻿<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Zen+Dots&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <style>
        .no_redirect{
            font-size: 30px;
            color: red;
            font-family: 'Quicksand', sans-serif;
        }
        
        .no_redirect.ru {
            font-size: 25px;
        }
        
        .green-font {
            color: #0ca81d;
        }
        
        .black-bold-font {
            color: black;
            font-weight: bold;
        }
        
        .flex_center {
            display: flex;
            justify-content: center;
            align-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        
        div.header{
            font-family: 'Zen Dots', cursive;
        }
        
        .header {
            margin-top: 5px;
            margin-bottom: 50px;
        }
        
        .header h1{
            margin: 0;
        }
        
        .header span {
            font-family: 'Quicksand', sans-serif;
            font-size: 2em;
        }
        
        .footer span {
            font-family: 'Raleway', sans-serif;
            font-size: 1em;
        }
        
        .footer {
            margin-top: 50px;
        }
        
        body {
            min-height: max-content;
        }
       
       .ru {
            font-family: 'Raleway', sans-serif;
       }
       
       .en {
            font-family: 'Quicksand', sans-serif;
       }
       
       .lang_buttons {
            margin: 5px;
       }
       
       .lang_button {
            border-radius: 15px;
            height: 30px;
            width: 100px;
            cursor: pointer;
            outline: none;
       }
       
       .lang_choice{
            font-size: 20px;
            margin-bottom: 7px;
       }
       
       .lang_choice span {
            color: blue;
       }
       
       .form_header {
            font-family: 'Ubuntu', sans-serif;
       }
       
       .error_msg {
            color: red;
            font-family: 'Ubuntu', sans-serif;
       }
       
       span.error_msg {
            font-size: 35px;
       }
       
       .submit_button {
            height: 30px;
            width: 100px;
            cursor: pointer;
            margin-top: 22px;
            font-family: 'Ubuntu', sans-serif;
       }
       
       form {
            margin: 11px;
       }
       
       /*Styles for inputs*/
       input,
       span.for_security,
       label.for_security {
         font-family: 'Ubuntu', sans-serif;
         display: block;
         margin: 5px;
         padding: 2px;
         border: none;
         font-size: 11px;
       }
       
       input:focus {
         outline: 0;
       }
       
       input.security {
         font-size: 24px;
         font-weight: 300;
         border-radius: 2px;
         margin: 0;
         border: none;
         width: 100%;
         background: rgba(0, 0, 0, 0);
         transition: padding-top 0.2s ease, margin-top 0.2s ease;
         overflow-x: hidden;
       }
       
       input.security + label.for_security {
         display: block;
         position: relative;
         white-space: nowrap;
         padding: 0;
         margin: 0;
         width: 20%;
         border-top: 1px solid red;
         -webkit-transition: width 0.4s ease;
         transition: width 0.4s ease;
         height: 0;
       }
       
       input.security:focus + label.for_security {
         width: 100%;
       }
       
       input.security:focus,
       input.security:valid {
         padding-top: 17px;
       }
       
       input.security:focus + label.for_security > span.for_security,
       input.security:valid + label.for_security > span.for_security {
         top: -50px;
         font-size: 11px;
         color: #333;
       }
       
       input.security:valid + label.for_security {
         border-color: green;
       }
       
       input.security:invalid {
         box-shadow: none;
       }
       
       input.security + label.for_security > span.for_security {
         font-weight: 300;
         margin: 0;
         position: absolute;
         color: #8F8F8F;
         font-size: 24px;
         top: -33px;
         left: 0;
         z-index: -1;
         -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
         transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
       }
            
    </style>
</head>
<body class="flex_center">
<div class="header flex_center">
    <h1>SAPL</h1>
    <span>Shortened and protected links</span>
</div>
@RenderBody()
<div class="footer flex_center">
    <span>© 2021 - Генглик Д.Ф - ВКР</span>
</div>
</body>
</html>