<div>
    <form [formGroup]="form"
          novalidate
          autocomplete="off"
          (ngSubmit)="createUrl()">
        <h2 mat-dialog-title>{{ 'DIALOG.CREATE_URL.HEADER' | translate }}</h2>
        <mat-dialog-content class="mat-typography">


            <div class="source-url-container">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.CREATE_URL.URL_FIELD_LABEL' | translate }}</mat-label>
                    <input [formControlName]="'sourceUrl'"
                           matInput>
                    <mat-icon matSuffix>http</mat-icon>
                    <mat-error class="error" *ngIf="displayValidationText('sourceUrl') === 'required'">
                        {{ 'ERROR.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error class="error" *ngIf="displayValidationText('sourceUrl') === 'url'">
                        {{ 'DIALOG.CREATE_URL.INVALID_URL' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>


            <mat-form-field color="primary" appearance="fill">
                <mat-label>{{ 'DIALOG.CREATE_URL.MODE' | translate }}</mat-label>
                <mat-select (selectionChange)="changeCurrentMode()" [formControlName]="'mode'"
                            disableOptionCentering>
                    <mat-option *ngFor="let mode of modeLabelsArray; let i = index" [value]="i">
                        {{mode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <div *ngIf="currentMode !== accessMode.Disposable" class="date-time-container">
                <div>
                    <mat-form-field color="primary" class="date" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.DAY_EXPIRATION' | translate }}</mat-label>
                        <input (input)="checkDate()" (dateChange)="checkDate()" [disabled]="newUrl.isEternal"
                               matInput
                               [matDatepickerFilter]="myFilter"
                               [matDatepicker]="dp"
                               [formControlName]="'dateField'">
                        <mat-datepicker-toggle (change)="checkDate()" matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error class="error" *ngIf="displayValidationText('dateField') === 'late'">
                            {{ 'DIALOG.URL_UPDATE.ERROR_DATE_LATE' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('dateField') === 'early'">
                            {{ 'DIALOG.URL_UPDATE.ERROR_DATE' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="currentMode !== accessMode.Disposable" class="time">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.HOURS' | translate }}</mat-label>
                        <mat-select [disabled]="newUrl.isEternal" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'hours'" disableOptionCentering>
                            <mat-option *ngFor="let hour of hours" [value]="hour">
                                {{hour}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.MINUTES' | translate }}</mat-label>
                        <mat-select [disabled]="newUrl.isEternal" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'minutes'"
                                    disableOptionCentering>
                            <mat-option *ngFor="let minute of minutes" [value]="minute">
                                {{minute}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="am-pm"
                                    *ngIf="lang === 'en'"
                                    color="primary"
                                    appearance="fill">
                        <mat-label>Half</mat-label>
                        <mat-select [disabled]="newUrl.isEternal" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'halfDay'"
                                    disableOptionCentering>
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-error class="error"
                           *ngIf="(!newUrl.isEternal && (lowLifetime || bigLifetime)) && currentMode !== accessMode.Disposable">
                    <ul>
                        <li>{{ 'DIALOG.URL_UPDATE.DATE_ERROR_LIST.1' | translate }}</li>
                        <li>{{ 'DIALOG.URL_UPDATE.DATE_ERROR_LIST.3' | translate }}</li>
                    </ul>
                </mat-error>
            </div>


            <div class="password-field-container" *ngIf="currentMode === accessMode.Password">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.CREATE_URL.PASSWORD' | translate }}</mat-label>
                    <input [formControlName]="'password'"
                           matInput
                           [type]="passwordHide ? 'password' : 'text'">
                    <button mat-icon-button
                            matSuffix
                            type="button"
                            (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="passwordHide">
                        <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="error" *ngIf="displayValidationText('password') === 'required'">
                        {{ 'ERROR.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error class="error" *ngIf="displayValidationText('password') === 'password'">
                        {{ 'ERROR.PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="secret-q-container" *ngIf="currentMode === accessMode.SecretQuestion">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.CREATE_URL.SECRET_TEXT' | translate }}</mat-label>
                    <input [formControlName]="'secretQuestionText'"
                           matInput>
                    <mat-icon matSuffix>live_help</mat-icon>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestionText') === 'required'">
                        {{ 'ERROR.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestionText') === 'max'">
                        {{ 'DIALOG.URL_UPDATE.ERROR_SECRET_LENGTH' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.URL_UPDATE.NEW_SECRET_ANSWER' | translate }}</mat-label>
                    <input [formControlName]="'secretQuestion'"
                           matInput>
                    <mat-icon matSuffix>question_answer</mat-icon>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestion') === 'required'">
                        {{ 'ERROR.REQUIRED' | translate }}
                    </mat-error>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestion') === 'max'">
                        {{ 'DIALOG.URL_UPDATE.ERROR_SECRET_LENGTH' | translate }}
                    </mat-error>
                </mat-form-field>
                <div class="secret-error">
                    <mat-error class="error" *ngIf="secretChecker() === 'secret'">
                        {{ 'DIALOG.URL_UPDATE.TWO_SECRET_FIELD_NEED_ERROR' | translate }}
                    </mat-error>
                </div>
            </div>


            <div *ngIf="currentMode !== accessMode.Disposable" class="eternal-toggle">
                <mat-slide-toggle [checked]="newUrl.isEternal" (change)="toggleChange($event)" color="accent">
                    {{ 'DIALOG.URL_UPDATE.ETERNAL_TOGGLE' | translate }}
                </mat-slide-toggle>
            </div>

            <mat-dialog-actions>
                <button
                    [disabled]="!newUrl.isEternal && currentMode !== accessMode.Disposable && (lowLifetime || bigLifetime)"
                    mat-raised-button color="warn"
                    type="submit">{{ 'BUTTON.CREATE' | translate }}</button>
                <button mat-raised-button color="primary" type="button"
                        [mat-dialog-close]="true">{{ 'BUTTON.CANCEL' | translate }}</button>
            </mat-dialog-actions>

        </mat-dialog-content>
    </form>

</div>
