﻿<div>
    <span>
        @Model.Name, your account on SAPL (Shortened and protected links) has been deleted.
        <br/><br/>
        -----------------------------------------------------------------------------------
        <br/><br/>
        @Model.Name, ваш аккаунт на SAPL (Shortened and protected links) был удален. 
    </span>
</div>