﻿<div>
    <span>
        Hello @Model.Name
        <br/><br/>
        You registered an account on SAPL (Shortened and protected links), 
        before being able to use your account<br/>you need to verify that this 
        is your email address by <b>clicking here:</b> <a href="https://stivion.asuscomm.com:4848/confirmation/@Model.CryptId">confirm</a>
        <br/><br/>
        Kind Regards, Dmitry Genglik
        <br/><br/>
        ------------------------------------------------------------------
        <br/><br/>
        Привет @Model.Name
        <br/><br/>
        Вы зарегистрировали аккаунт на SAPL (shortened and protected links),
        прежде чем вы сможете использовать свою учетную запись, <br/>вам необходимо убедиться, что это
        это ваш адрес электронной почты, <b>нажав здесь:</b> <a href="https://stivion.asuscomm.com:4848/confirmation/@Model.CryptId">подтвердить</a>
        <br/><br/>
        С уважением, Дмитрий Генглик 
    </span>
</div>