﻿<div>
    <span>
        @Model.Name, your email on SAPL (Shortened and protected links) has been successfully updated.
        <br/>
        <b>Your new email address:</b> @Model.NewEmail 
        <br/><br/>
        A confirmation email was sent to the new address. 
        <br/><br/>
        ------------------------------------------------------------------
        <br/><br/>
        @Model.Name, ваш адрес электронной почты на SAPL (Shortened and protected links) был успешно обновлен.
        <br/>
        <b>Ваш новый адрес электронной почты:</b> @Model.NewEmail
        <br/><br/>
        Письмо с подтверждением было отправлено на новый адрес. 
    </span>
</div>