﻿<div>
    <span>
        Hi @Model.Name
        <br/><br/>       
        You have updated your email to SAPL (shortened and protected links),<br/>
        <b>please confirm the new email address by clicking here:</b> <a href="https://stivion.asuscomm.com:4848/confirmation/@Model.CryptId">confirm</a>
        <br/><br/>       
        If this is not done, then you will have access to your account, but we will not be able to send letters to this mail.
        <br/><br/>
        Best regards, Dmitry Genglik 
        <br/><br/>
        -----------------------------------------------------------------------------
        <br/><br/>
        Привет @Model.Name
        <br/><br/>
        Вы обновили email на SAPL (shortened and protected links),<br/>
        <b>пожалуйста подтвердите новый адрес электронной почты, нажав здесь:</b> <a href="https://stivion.asuscomm.com:4848/confirmation/@Model.CryptId">подтвердить</a>
        <br/><br/>
        Если этого не сделать, то у вас останется доступ к своему аккаунту, но отправлять письма на эту почту мы вам не сможем.
        <br/><br/>
        С уважением, Дмитрий Генглик 
    </span>
</div>