﻿<div>
    <span>
        @Model.Name, your password on SAPL (Shortened and protected links) has been changed.
        <br/><br/>
        ------------------------------------------------------------------
        <br/><br/>
        @Model.Name, ваш пароль на on SAPL (Shortened and protected links) был изменен.
    </span>
</div>