﻿<div>
    <span>
        @Model.Name, a new password has been generated for you.
        <br/>
        <b>New password:</b> @Model.Password
        <br/><br/>
        You can update this password in your profile settings. 
        <br/><br/>
        ------------------------------------------------------------------
        <br/><br/>
        @Model.Name, вам сгенерирован новый пароль.
        <br/>
        <b>Новый пароль:</b> @Model.Password
        <br/><br/>
        Вы можете обновить данный пароль в настройках профиля.
    </span>
</div>