﻿<div>
    <span>
        @Model.Name, your email on SAPL (Shortened and protected links) has been successfully verified.
        <br/><br/>
        ------------------------------------------------------------------
        <br/><br/>
        @Model.Name, ваш адрес электронной почты на SAPL (Shortened and protected links) был успешно подтвержден. 
    </span>
</div>