<mat-nav-list>
    <span class="header">{{ 'DIALOG.LANGUAGE.TITLE' | translate }}</span>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="changeLang(Language.English)">
        <span mat-line>English</span>
    </a>

    <a mat-list-item (click)="changeLang(Language.Russian)">
        <span mat-line>Русский</span>
    </a>
</mat-nav-list>
