::ng-deep .mat-bottom-sheet-container {
    min-width: 200px !important;
    text-align: center;
}

mat-nav-list {
    span.header {
        color: cornflowerblue;
        font-size: initial;
    }
}
