<div class="url-container">
    <h2 class="title" mat-dialog-title>{{ 'DIALOG.URL_INFO.HEADER' | translate }}</h2>

    <div class="url-mode-label-in-info">
        <mat-card-subtitle>{{ translate.getUrlAccessModeLabel(url) }}
            <mat-icon class="material-icons-round"
                      matTooltip="{{ translate.getUrlAccessModeLabel(url, true) }}"
                      matTooltipClass="manage-tooltip"
                      [matTooltipShowDelay]="75" [matTooltipHideDelay]="75">
                help_outline
            </mat-icon>
        </mat-card-subtitle>
        <div class="expiration-info-div">
             <span [class.red]="checkExpired()" class="expiration-info">
                 {{ translate.getUrlExpirationLabel(url) }}
                 <span *ngIf="url.expiration != null">
                     {{ url.expiration | date:'long':'+0300':getLocale() }}
                 </span>
                 <span *ngIf="url.mode === 3 && url.clicks >= 1">
                     {{ url.statisticsInfo[0].timeOfVisit | date:'long':'+0300':getLocale() }}
                 </span>
             </span>
        </div>
    </div>

    <mat-dialog-content class="mat-typography">
        <h3>{{ 'DIALOG.URL_INFO.SHORT_URL' | translate }}
            <a href="{{config.serverRoot}}/{{url.shortUrlId}}" target="_blank">{{config.serverRoot}}
                /{{url.shortUrlId}}</a>
            <span class="date-span">{{ 'DIALOG.URL_INFO.CREATE_DATE' | translate }}
                {{ url.audit.createdOn | date:'short':'+0300':getLocale() }}
            </span>
        </h3>
        <h3>{{ 'DIALOG.URL_INFO.SOURCE_URL' | translate }}
            <a href="{{ url.sourceUrl }}" target="_blank">{{ url.sourceUrl }}</a>
            <span class="date-span">
                {{ 'DIALOG.URL_INFO.UPDATE_DATE' | translate }} {{ url.audit.modifiedOn | date:'short':'+0300':getLocale() }}
            </span>
        </h3>
    </mat-dialog-content>

    <mat-divider class="top-divider"></mat-divider>
    <h3 class="stat-title">{{ 'DIALOG.URL_INFO.STATISTIC' | translate: { clicks: url.clicks } }}</h3>
    <mat-divider></mat-divider>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="number-column">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let statObject = index "> {{ (statObject + 1) }} </td>
            </ng-container>

            <ng-container matColumnDef="time-of-visit">
                <th mat-header-cell *matHeaderCellDef>{{ 'DIALOG.URL_INFO.TIME_OF_VISIT' | translate }}</th>
                <td mat-cell
                    *matCellDef="let statObject"> {{statObject.timeOfVisit | date:'short':'+0300':getLocale()}} </td>
            </ng-container>

            <ng-container matColumnDef="ip">
                <th mat-header-cell *matHeaderCellDef>IP</th>
                <td mat-cell
                    *matCellDef="let statObject"> {{statObject.ip}} </td>
            </ng-container>

            <ng-container matColumnDef="geo">
                <th mat-header-cell *matHeaderCellDef>{{ 'DIALOG.URL_INFO.GEO' | translate }}</th>
                <td mat-cell *matCellDef="let statObject"> {{statObject.location}} </td>
            </ng-container>

            <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef>{{ 'DIALOG.URL_INFO.DEVICE' | translate }}</th>
                <td mat-cell *matCellDef="let statObject"> {{statObject.device}} </td>
            </ng-container>

            <ng-container matColumnDef="os">
                <th mat-header-cell *matHeaderCellDef>{{ 'DIALOG.URL_INFO.OS' | translate }}</th>
                <td mat-cell *matCellDef="let statObject"> {{statObject.operationSystem}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator class="mat-elevation-z8 paginator"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   showFirstLastButtons></mat-paginator>

    <mat-dialog-actions>
        <button *ngIf="url.mode !== accessMode.Disposable"
                (click)="updateUrl()"
                mat-raised-button
                color="warn">
            <mat-icon class="material-icons-round">mode_edit</mat-icon>
            {{ 'BUTTON.EDIT' | translate }}
        </button>
        <button color="primary" mat-raised-button [mat-dialog-close]="true">
            {{ 'BUTTON.CLOSE' | translate }}
        </button>
        <button class="right-button"
                (click)="deleteUrl()"
                color="accent"
                matTooltip="{{ 'TOOLTIP.DELETE_URL' | translate }}"
                matTooltipClass="manage-tooltip"
                mat-icon-button>
            <mat-icon class="material-icons-round">delete_forever</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
