.url-container {
    display: flex;
    flex-direction: column;
    min-width: 630px;
    max-width: 1200px;
    min-height: 400px;
    max-height: 780px;
    height: calc(100vh - 27vh);
    width: calc(100vw - 40vw);

    .title {
        margin-bottom: 0;
    }

    .expiration-info-div {
        margin-left: auto;

        .expiration-info {
            font-size: medium;

            &.red {
                color: red;
            }
        }
    }

    .mat-elevation-z8 {
        height: 600px;
        max-width: 100%;
        overflow: auto;

        &.paginator {
            height: 80px;
            overflow: unset;
            z-index: 1;
        }
    }

    table {
        width: 100%;
    }

    .date-span {
        float: right;
        color: blue;
    }

    mat-dialog-content {
        margin-bottom: 10px;
        overflow: unset;
    }
}

.stat-title {
    align-self: center;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

.stat {
    display: flex;
    flex-direction: column;
}

mat-dialog-content {
    h3:first-child {
        margin-bottom: 0;
    }

    h3:nth-child(2) a {
        display: inline-block;
        vertical-align: bottom;
        max-width: 500px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.url-mode-label-in-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    mat-card-subtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    mat-icon {
        margin-left: 2.5px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        cursor: pointer;
    }
}

.search-table-outter { overflow-x: scroll; }

.mat-column-number-column {
    min-width: 28px;
}

.mat-column-time-of-visit {
    min-width: 122px;
}

.mat-column-geo {
    min-width: 250px;
}

.mat-column-ip {
    min-width: 90px;
}

.mat-column-device {
    min-width: 250px;
}

.mat-column-os {
    min-width: 170px;
}

.right-button {
    margin-left: auto !important;
}
