.vertical-center-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.app-dialog {
    max-width: 500px;
    max-height: 500px;

    mat-dialog-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
