<div *ngIf="pageVisible">
    <mat-toolbar color="primary" id="app-header">

        <div class="app-menu-panel">
            <mat-expansion-panel (opened)="menuIsOpen = true"
                                 (closed)="menuIsOpen = false"
                                 [class.closed]="!menuIsOpen"
                                 [expanded]="menuIsOpen"
                                 togglePosition="before">
                <mat-expansion-panel-header>
                    <mat-panel-title class="unselectable">
                        {{ 'BUTTON.APP-MENU' | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div [class.closed]="!menuIsOpen" class="app-menu-button-list">
                    <button class="with-margin"
                            mat-flat-button color="warn"
                            (click)="menuNavigation(Place.Manage)">
                        <mat-icon class="material-icons-round">home</mat-icon>
                        <span class="app-menu-button-text">{{ 'BUTTON.MANAGE' | translate }}</span>
                    </button>
                    <button mat-flat-button color="warn"
                            (click)="menuNavigation(Place.Profile)">
                        <mat-icon class="material-icons-round">manage_accounts</mat-icon>
                        <span class="app-menu-button-text">{{ 'BUTTON.PROFILE' | translate }}</span>
                    </button>

                    <mat-divider class="app-menu-divider"></mat-divider>

                    <button mat-flat-button color="warn"
                            (click)="logout()">
                        <mat-icon class="material-icons-round">logout</mat-icon>
                        <span class="app-menu-button-text">{{ 'BUTTON.LOGOUT' | translate }}</span>
                    </button>
                </div>
            </mat-expansion-panel>
        </div>

        <div class="app-name-container flex-center">
            <mat-icon class="material-icons-outlined">share</mat-icon>
            <div>
                <span class="top">SAPL</span>
                <span class="bottom">shortened and protected links</span>
            </div>
        </div>

        <span class="spacer"></span>
        <button mat-mini-fab color="warn"
                matTooltip="{{ 'TOOLTIP.LOGOUT' | translate }}"
                matTooltipClass="manage-tooltip"
                (click)="logout()">
            <mat-icon class="material-icons-round">logout</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <div class="url-list-container">
        <mat-spinner *ngIf="!urlListIsLoading" class="url-list-spinner"></mat-spinner>
        <div *ngIf="urlListIsLoading && emptyPage" class="empty-page-div">
            <mat-card>
                <mat-card-header class="center">
                    <mat-card-title>{{ 'TEXT_INFO.EMPTY_URL_LIST.HEADER' | translate }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <span>{{ 'TEXT_INFO.EMPTY_URL_LIST.TEXT' | translate }}</span>
                </mat-card-content>
                <mat-card-actions class="center">
                    <button (click)="createUrl()" color="primary" mat-raised-button>
                        <mat-icon class="material-icons-round">add</mat-icon>
                        {{ 'BUTTON.CREATE' | translate }}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div *ngIf="urlListIsLoading && !emptyPage" class="right-scroll">
            <div class="url-list">
                <mat-card (click)="openUrlInfo(url.id)" class="url-item" *ngFor="let url of urlPaginateList; let i = index">
                    <mat-card-header>

                        <mat-card-title>#{{startIndex + i + 1}}
                            <a (click)="$event.stopPropagation()" href="{{appConfig.serverRoot}}/{{url.shortUrlId}}"
                               target="_blank">{{appConfig.serverRoot}}/{{url.shortUrlId}}</a>
                        </mat-card-title>

                        <button (click)="$event.stopPropagation()" class="url-kebab" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="openUrlInfo(url.id)" mat-menu-item>
                                <mat-icon class="material-icons-round">launch</mat-icon>
                                <span>{{ 'BUTTON.URL_OPEN' | translate }}</span>
                            </button>
                            <button mat-menu-item (click)="goToSourceUrl(url.sourceUrl)">
                                <mat-icon class="material-icons-round">ads_click</mat-icon>
                                <span>{{ 'BUTTON.SOURCE_URL_REDIRECT' | translate }}</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="deleteUrl(url)">
                                <mat-icon class="material-icons-round">delete_forever</mat-icon>
                                <span>{{ 'BUTTON.DELETE' | translate }}</span>
                            </button>
                        </mat-menu>

                        <mat-card-subtitle>
                            <div class="url-mode-label">
                                <span>{{ urlParser(url, 'mode') }}</span>
                                <mat-icon class="material-icons-round"
                                          matTooltip="{{ urlParser(url, 'mode tooltip') }}"
                                          matTooltipClass="manage-tooltip"
                                          (click)="$event.stopPropagation()"
                                          [matTooltipShowDelay]="75" [matTooltipHideDelay]="75">
                                    help_outline
                                </mat-icon>
                            </div>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="url-content">
                        <span [class.red]="urlParser(url, 'is expired?')"
                              class="expiration-info">{{ urlParser(url, 'expiration') }}
                            <span *ngIf="url.expiration != null">
                                {{ url.expiration | date:'long':'+0300':getLocale() }}
                            </span>
                            <span *ngIf="url.mode === 3 && url.clicks >= 1">
                                {{ url.statisticsInfo[0].timeOfVisit | date:'long':'+0300':getLocale() }}
                            </span>
                        </span>
                        <span class="right">{{ 'TEXT_INFO.REDIRECT_COUNT' | translate }} {{ url.clicks }}</span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="paginator">
            <mat-divider></mat-divider>
            <mat-toolbar>
                <mat-toolbar-row>

                    <div class="bot-toolbar-buttons">
                        <button color="accent"
                                mat-raised-button
                                [disabled]="bottomButtonDisabled"
                                [matMenuTriggerFor]="sortMenu">
                            <mat-icon class="material-icons-round">sort</mat-icon>
                            {{ 'BUTTON.SORT' | translate }}
                        </button>

                        <button color="accent"
                                mat-raised-button
                                [disabled]="bottomButtonDisabled"
                                [matMenuTriggerFor]="bulkDeleteMenu">
                            <mat-icon class="material-icons-round">layers_clear</mat-icon>
                            {{ 'BUTTON.BULK_DELETE.MAIN' | translate }}
                        </button>

                        <button color="warn"
                                mat-raised-button
                                [disabled]="bottomButtonDisabled"
                                (click)="createUrl()">
                            <mat-icon class="material-icons-round">add</mat-icon>
                            {{ 'BUTTON.CREATE' | translate }}
                        </button>
                    </div>

                    <mat-menu class="sort-menu" #sortMenu="matMenu">

                        <span class="mat-menu-label" disabled mat-menu-item disableRipple>
                            {{ 'TEXT_INFO.SORT.SORT_TYPE' | translate }}
                        </span>

                        <mat-button-toggle-group vertical (click)="$event.stopPropagation()"
                                                 name="sortSetting" aria-label="Font Style">
                            <mat-button-toggle (click)="sortChanger(OrderMode.ModifiedOn, orderAsc)">
                                {{ 'TEXT_INFO.SORT.MODIFIED_ON' | translate }}
                            </mat-button-toggle>
                            <mat-button-toggle (click)="sortChanger(OrderMode.CreatedOn, orderAsc)" checked>
                                {{ 'TEXT_INFO.SORT.CREATED_ON' | translate }}
                            </mat-button-toggle>
                            <mat-button-toggle (click)="sortChanger(OrderMode.Expiration, orderAsc)">
                                {{ 'TEXT_INFO.SORT.EXPIRATION' | translate }}
                            </mat-button-toggle>
                            <mat-button-toggle (click)="sortChanger(OrderMode.RedirectCount, orderAsc)">
                                {{ 'TEXT_INFO.SORT.REDIRECT_COUNT' | translate }}
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                        <span class="mat-menu-label" disabled mat-menu-item disableRipple>
                            {{ 'TEXT_INFO.SORT.ORDER' | translate }}
                        </span>

                        <mat-button-toggle-group class="sort-order-buttons" vertical (click)="$event.stopPropagation()"
                                                 name="sortSetting" aria-label="Font Style">
                            <mat-button-toggle (click)="sortChanger(orderMode, true)">
                                {{ 'TEXT_INFO.SORT.ASC' | translate }}
                            </mat-button-toggle>
                            <mat-button-toggle (click)="sortChanger(orderMode, false)" checked>
                                {{ 'TEXT_INFO.SORT.DESC' | translate }}
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-menu>

                    <mat-menu #bulkDeleteMenu="matMenu">
                        <button (click)="deleteUrl(null, 'expired')" mat-menu-item>
                            <mat-icon class="material-icons-round">auto_delete</mat-icon>
                            <span>{{ 'BUTTON.BULK_DELETE.EXPIRATION' | translate }}</span>
                        </button>
                        <button (click)="deleteUrl(null, 'blockDisposable')" mat-menu-item>
                            <mat-icon class="material-icons-round">lock</mat-icon>
                            <span>{{ 'BUTTON.BULK_DELETE.BLOCK_DISPOSABLE' | translate }}</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button (click)="deleteUrl(null, 'all')" mat-menu-item>
                            <mat-icon class="material-icons-round">delete_sweep</mat-icon>
                            <span>{{ 'BUTTON.BULK_DELETE.ALL' | translate }}</span>
                        </button>
                    </mat-menu>

                    <mat-paginator
                        [length]="totalLength"
                        [pageIndex]="currentPageIndex"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeVariables"
                        [showFirstLastButtons]="true"
                        (page)="pageEvent = paginate($event)">
                    </mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>
