@import "src/styles/main";

mat-toolbar {
    .spacer {
        flex: 1 1 auto;
    }

    .flex-center {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .app-name-container {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        color: #fff2bf;

        mat-icon {
            height: auto;
            width: auto;
        }

        .material-icons-outlined {
            font-size: 72px;
        }

        div {
            display: flex;
            flex-direction: column;

            .top {
                max-height: 20px;
            }

            .bottom {
                font: caption;
                font-size: 18px;
            }
        }
    }
}

.manage-tooltip {
    font-size: 14px;
    text-align: justify;
    background-position-x: 0;
    background-position-y: 0;
    background: rgb(0, 150, 136) none repeat scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border: 2px solid #323232;
    border-radius: 10px !important;
}

.app-menu-panel {
    height: 100%;
    margin-top: 45px;
    z-index: 2;

    mat-expansion-panel {
        &.closed {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 110px;
        }
    }

    .app-menu-divider {
        margin: 10px;
        border-top-color: black;
        border-top-width: 2px;
    }

    .app-menu-button-list {
        display: flex;
        flex-direction: column;

        &.closed {
            display: none;
        }

        button {
            transition: 0.5s;

            &:hover {
                background-color: rgb(0, 150, 136);
                background-position-x: 0;
                background-position-y: 0;
                background-repeat: repeat;
                background-attachment: scroll;
                background-image: none;
                background-size: auto;
                background-origin: padding-box;
                background-clip: border-box;
            }
        }

        .with-margin {
            margin-bottom: 2.5px;
        }

        .app-menu-button-text {
            margin-left: 7px;
        }
    }
}

.url-list-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    background-color: rgba(1, 15, 36, 0.68);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    .url-list-spinner {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: calc((100vh - 64px - 200px) / 2);
    }

    .empty-page-div {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: calc((100vh - 64px - 258px) / 2);
        width: 550px;

        .center {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        mat-card-title {
            color: blueviolet;
            font-size: x-large;
        }

        mat-card-content {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            span {
                white-space: pre-wrap;
                font-size: 15px;
            }
        }
    }

    .url-kebab {
        margin-left: auto;
    }

    .url-list {
        align-self: center;
        width: calc(100vw - 57vw + 12px);
        min-width: 530px;

        .url-item {
            margin: 3px;
            border: 2px solid #323232;
            border-radius: 10px;
            transition: 0.4s;

            &:hover {
                background: cornsilk;
                cursor: pointer;
            }
        }

        mat-card-title ~ mat-card-subtitle {
            margin-top: -5px;
        }

        .url-mode-label {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;

            span {
                margin-right: 2.5px;
            }

            mat-icon {
                width: 20px;
                height: 20px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .url-content {
            display: flex;
            flex-direction: row;

            .expiration-info {
                &.red {
                    color: red;
                }
            }

            .right {
                margin-left: auto;
            }
        }
    }

    .right-scroll {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .paginator {
        margin-top: auto;

        mat-toolbar {
            background-color: aliceblue;
        }

        mat-paginator {
            background-color: aliceblue;
            margin-left: auto;
        }

        .bot-toolbar-buttons {
            button {
                margin-right: 6.5px;
                height: 40px;
            }
        }
    }
}

.sort-menu .mat-menu-content {
    padding: 0 !important;
}

.sort-menu .mat-menu-label {
    color: #fff !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: baseline !important;
    height: 35px !important;
    background: black;
}

.sort-menu .sort-order-buttons {
    width: 99%;
}
