<div>
    <form [formGroup]="form"
          novalidate
          autocomplete="off"
          (ngSubmit)="updateUrl()">
        <h2 mat-dialog-title>{{ 'DIALOG.URL_UPDATE.HEADER' | translate }}</h2>
        <mat-dialog-content class="mat-typography">


            <mat-divider></mat-divider>
            <div class="date-time-container">
                <div>
                    <mat-form-field color="primary" class="date" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.DAY_EXPIRATION' | translate }}</mat-label>
                        <input (dateChange)="checkDate()" [disabled]="updateData.isEternal || disableData"
                               matInput
                               [matDatepickerFilter]="myFilter"
                               [matDatepicker]="dp"
                               [formControlName]="'dateField'">
                        <mat-datepicker-toggle (change)="checkDate()" matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error class="error" *ngIf="displayValidationText('dateField') === 'late'">
                            {{ 'DIALOG.URL_UPDATE.ERROR_DATE_LATE' | translate }}
                        </mat-error>
                        <mat-error class="error" *ngIf="displayValidationText('dateField') === 'early'">
                            {{ 'DIALOG.URL_UPDATE.ERROR_DATE' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="time">
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.HOURS' | translate }}</mat-label>
                        <mat-select [disabled]="updateData.isEternal || disableData" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'hours'" disableOptionCentering>
                            <mat-option *ngFor="let hour of hours" [value]="hour">
                                {{hour}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field color="primary" appearance="fill">
                        <mat-label>{{ 'DIALOG.URL_UPDATE.MINUTES' | translate }}</mat-label>
                        <mat-select [disabled]="updateData.isEternal || disableData" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'minutes'"
                                    disableOptionCentering>
                            <mat-option *ngFor="let minute of minutes" [value]="minute">
                                {{minute}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="am-pm"
                                    *ngIf="lang === 'en'"
                                    color="primary"
                                    appearance="fill">
                        <mat-label>Half</mat-label>
                        <mat-select [disabled]="updateData.isEternal || disableData" (opened)="checkDate()"
                                    (closed)="checkDate()"
                                    [formControlName]="'halfDay'"
                                    disableOptionCentering>
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-checkbox (change)="checkboxChange($event)"
                              [disabled]="updateData.isEternal || url.isEternal"
                              formControlName="oldDateCheckbox">
                    {{ 'DIALOG.URL_UPDATE.DATE_CHECKBOX' | translate }}
                </mat-checkbox>
                <mat-error class="error" *ngIf="disabledButton">
                    <ul>
                        <li>{{ 'DIALOG.URL_UPDATE.DATE_ERROR_LIST.1' | translate }}</li>
                        <li>{{ 'DIALOG.URL_UPDATE.DATE_ERROR_LIST.2' | translate }}</li>
                        <li>{{ 'DIALOG.URL_UPDATE.DATE_ERROR_LIST.3' | translate }}</li>
                    </ul>
                </mat-error>
            </div>
            <mat-divider></mat-divider>

            <div class="password-field-container" *ngIf="url.mode === accessMode.Password">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.URL_UPDATE.NEW_PASSWORD' | translate }}</mat-label>
                    <input [formControlName]="'password'"
                           matInput
                           [type]="passwordHide ? 'password' : 'text'">
                    <button mat-icon-button
                            matSuffix
                            type="button"
                            (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="passwordHide">
                        <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="error" *ngIf="displayValidationText('password') === 'password'">
                        {{ 'ERROR.PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-divider *ngIf="url.mode === accessMode.Password"></mat-divider>

            <div class="secret-q-container" *ngIf="url.mode === accessMode.SecretQuestion">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.URL_UPDATE.NEW_SECRET_TEXT' | translate }}</mat-label>
                    <input (change)="checkSecrets()" [formControlName]="'secretQuestionText'"
                           matInput>
                    <mat-icon matSuffix>live_help</mat-icon>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestionText') === 'max'">
                        {{ 'DIALOG.URL_UPDATE.ERROR_SECRET_LENGTH' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field color="primary" appearance="fill">
                    <mat-label>{{ 'DIALOG.URL_UPDATE.NEW_SECRET_ANSWER' | translate }}</mat-label>
                    <input (change)="checkSecrets()" [formControlName]="'secretQuestion'"
                           matInput>
                    <mat-icon matSuffix>question_answer</mat-icon>
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestion') === 'max'">
                        {{ 'DIALOG.URL_UPDATE.ERROR_SECRET_LENGTH' | translate }}
                    </mat-error>
                </mat-form-field>
                <div class="secret-error">
                    <mat-error class="error" *ngIf="displayValidationText('secretQuestion') === 'secret'">
                        {{ 'DIALOG.URL_UPDATE.TWO_SECRET_FIELD_NEED_ERROR' | translate }}
                    </mat-error>
                </div>
            </div>
            <mat-divider *ngIf="url.mode === accessMode.SecretQuestion"></mat-divider>

            <div class="eternal-toggle">
                <mat-slide-toggle [checked]="updateData.isEternal" (change)="toggleChange($event)" color="accent">
                    {{ 'DIALOG.URL_UPDATE.ETERNAL_TOGGLE' | translate }}
                </mat-slide-toggle>
            </div>

            <mat-dialog-actions>
                <button type="submit"
                        (click)="checkSecrets(); checkDate()"
                        [disabled]="disabledButton || error"
                        mat-raised-button color="warn">
                    {{ 'BUTTON.UPDATE' | translate }}
                </button>
                <button type="button"
                        mat-raised-button
                        color="primary"
                        [mat-dialog-close]="true">
                    {{ 'BUTTON.CANCEL' | translate }}
                </button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form>
</div>
