mat-dialog-content {
    overflow: unset;
    display: flex;
    flex-direction: column;
    width: 320px;

    mat-form-field {
        padding-bottom: 0;
    }

    .secret-q-container {
        margin-top: 1.34375em;
        display: flex;
        flex-direction: column;
    }

    .password-field-container {
        margin-top: 1.34375em;
        display: flex;
        flex-direction: column;
    }

    .date-time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.34375em;

        .date {
            width: 100%;
        }

        .time {
            mat-form-field {
                width: 92px;
            }

            span {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 30px;
            }

            .am-pm {
                margin-left: 12px;
                width: 70px;
            }
        }
    }

    .eternal-toggle {
        margin-top: 1.34375em;
    }
}

mat-divider {
    border-top-color: white;
}

mat-error {
    ul {
        padding: 0;
    }
}
